@media screen and (max-width: 700px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Gilroy-Regular', sans-serif;
    }
    //Page d'accueil
    body#index {
        background: lightgrey;

        main {
            #loader {
                position: fixed;
                z-index: 9999;
                background: white;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    margin: 0 auto;
                    display: block;
                    width: 50%;
                }
            }

            header {
                position: fixed;
                bottom: 0;
                background: #afafaf;
                padding: 20px;
                box-sizing: border-box;
                width: 100%;

                nav.navBar {
                    ul {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                width: 100%;
                                text-align: center;
                                img{
                                    height: 30px;
                                    margin: 0 auto;
                                    display: block;
                                }
                                span{
                                    display: block;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }

            section {
                form {
                    margin: 20% 0 0;
                    text-align: center;

                    input {
                        padding: 16px 0 15px 40px;
                        border-radius: 5px;
                        border: 0;
                        background: url('/hush/src/images/loupe-gris.png')no-repeat;
                        background-position: 5px 11px;
                        background-color: white;
                        background-size: 25px;
                        width: 80%;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
    // Page inscription
    body#inscription {
        section.menu-inscription {
            div {
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    li {
                        list-style: none;
                        margin: 0 2%;

                        &:first-of-type {
                            margin-left: 0;
                        }

                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    //fin media query
}
