@media screen and (max-width: 700px) {
    //Global
    $font-regular: 'Gilroy-Regular', sans-serif;
    $font-bold: 'Gilroy-Bold', sans-serif;
    $blue-color: #2895a1;
    $grey-bakground: #f3f3f3;
    $other-grey: #f5f5f5;
    $back-menu: white;
    $conversation-grey: #c3c3c3;

    * {
        margin: 0;
        padding: 0;
        font-family: 'Gilroy-Regular', sans-serif;
    }

    img {
        max-width: 100%;
    }

    section.menu-inscription {
        div {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                li {
                    list-style: none;
                    font-size: 22px;
                    font-family: $font-bold;
                    font-weight: 600;

                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 22px;
                        font-family: $font-bold;
                        font-weight: 600;
                    }

                    &:first-of-type {
                        margin-left: 0;
                    }

                    &:last-of-type {
                        margin-right: 0;
                    }

                    &.active {
                        color: $blue-color;
                    }
                }
            }
        }
    }

    a.BtnReturn {
        position: fixed;
        top: 30px;
        left: 30px;

        img {
            height: 26px;
            width: auto;
        }
    }

    header {
        position: fixed;
        bottom: 0;
        background: $back-menu;
        padding: 5px 20px;
        box-sizing: border-box;
        width: 100%;

        nav.navBar {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        width: 100%;
                        text-align: center;

                        img {
                            height: 28px;
                            margin: 0 auto;
                            display: block;
                            margin: 0 auto 4px;
                        }

                        span {
                            display: block;
                            color: black;
                            font-size: 11px;

                            &.active {
                                color: $blue-color;
                            }
                        }
                    }
                }
            }
        }
    }
    //Page d'accueil
    body#index {
        background: lightgrey;
        min-height: 100vh;
        box-sizing: border-box;

        main {
            #loader {
                position: fixed;
                z-index: 9999;
                background: white;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    margin: 0 auto;
                    display: block;
                    width: 25%;
                }
            }

            #map {
                position: absolute;
                top: 0;
                bottom: 0;
                height: calc(100% - 54px)!important;
                border-bottom: 1px solid #bcbcbc;

                .mapboxgl-ctrl-top-right {
                    top: 10px;
                    right: 10px;
                }

                .mapboxgl-ctrl-group {
                    background: none!important;
                    box-shadow: none!important;
                }

                .mapboxgl-canvas:focus {
                    outline: none !important;
                }
            }

            #geocoder {
                position: absolute;
                top: 12%;
                width: 100%;
                display: flex;
                justify-content: center;

                .geocoder-icon-search {
                    background-image: url("/hush/src/asset/images/loupe-noir.png");
                    background-size: 20px;
                }

                .mapboxgl-ctrl-geocoder,
                .mapboxgl-ctrl-geocoder ul {
                    -webkit-box-shadow: 5px 5px 5px 0 rgba(46,74,117,0.32);
                    -moz-box-shadow: 2px 2px 1px 0 rgba(46,74,117,0.32);
                    box-shadow: 2px 2px 1px 0 rgba(46,74,117,0.32);
                    -webkit-box-shadow: 5px 5px 5px 0 rgba(46,74,117,0.32);
                    -moz-box-shadow: 2px 2px 1px 0 rgba(46,74,117,0.32);
                    box-shadow: 2px 2px 1px 0 rgba(46,74,117,0.32);
                    border-radius: 10px;
                }

                .mapboxgl-ctrl-geocoder input[type='text'] {
                    padding: 16px 0 15px 40px;
                    border-radius: 5px;
                    width: 80%;
                }
            }
        }
    }
    //Page mon compte
    body#monCompte {
        min-height: 100vh;
        box-sizing: border-box;

        main {
            header {
                border-top: 1px solid #bcbcbc;
            }

            section.content {
                padding-top: 20%;

                h1 {
                    color: #000;
                    padding-left: 30px;
                    padding-bottom: 20px;
                }

                a.BtnReturn {
                    position: absolute;
                }
            }

            section.option-param {
                ul {
                    padding: 0 0 0 5%;
                    box-sizing: border-box;

                    li {
                        list-style: none;
                        border-bottom: 1px solid $blue-color;
                        padding: 10% 0 5%;

                        a {
                            text-decoration: none;
                            color: black;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    //Page d'accueil Cultiver
    body#indexCultiver {
        background: lightgrey;

        main {
            padding-top: 15%;

            #loader {
                position: fixed;
                z-index: 9999;
                background: white;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    margin: 0 auto;
                    display: block;
                    width: 50%;
                }
            }

            section.type-vegetation {
                margin-top: 6%;

                h1 {
                    font-size: 30px;
                    padding-left: 15px;
                }

                div.container-type {
                    padding-left: 15px;
                    margin-top: 4%;

                    div.swiper-wrapper {
                        div.type-content {
                            background: #d8d8d8;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            height: 130px;
                            border-radius: 10px;

                            img {
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                            }

                            p {
                                margin: 10px 10px 0;
                            }
                        }
                    }
                }
            }

            section.aroundMe {
                margin-top: 4%;

                h2 {
                    font-size: 30px;
                    padding-left: 15px;
                }

                div.container-type {
                    padding-left: 15px;
                    margin-top: 4%;

                    div.swiper-wrapper {
                        div.type-content {
                            background: #d8d8d8;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: center;
                            height: 185px;
                            border-radius: 10px;

                            img {
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                            }

                            div.content-borne {
                                margin-top: 5px;
                                font-size: 13px;
                                width: 100%;
                                padding-left: 10px;
                                box-sizing: border-box;

                                p.title-borne {
                                    font-weight: 600;

                                    &.adress-borne {
                                        font-size: 12px;
                                    }
                                }

                                p:nth-child(3),
                                p:nth-child(4) {
                                    img {
                                        width: 17px;
                                        border-radius: 0;
                                    }
                                }

                                p:last-of-type {
                                    text-align: right;
                                    padding-right: 10px;
                                    font-weight: 600;
                                    color: $blue-color;
                                }
                            }
                        }
                    }
                }
            }

            #map {
                position: absolute;
                top: 0;
                bottom: 0;
                height: 0!important;
                border-bottom: 1px solid #bcbcbc;

                .mapboxgl-ctrl-top-right {
                    top: 13.3%;
                    right: 16%;
                }
            }

            #geocoder {
                position: relative;
                top: 12%;
                width: 100%;
                display: flex;
                justify-content: center;

                .geocoder-icon-search {
                    background-image: url("/hush/src/asset/images/loupe-noir.png");
                    background-size: 20px;
                }

                .mapboxgl-ctrl-geocoder,
                .mapboxgl-ctrl-geocoder ul {
                    -webkit-box-shadow: 5px 5px 5px 0 rgba(46,74,117,0.32);
                    -moz-box-shadow: 2px 2px 1px 0 rgba(46,74,117,0.32);
                    box-shadow: 2px 2px 1px 0 rgba(46,74,117,0.32);
                    -webkit-box-shadow: 5px 5px 5px 0 rgba(46,74,117,0.32);
                    -moz-box-shadow: 2px 2px 1px 0 rgba(46,74,117,0.32);
                    box-shadow: 2px 2px 1px 0 rgba(46,74,117,0.32);
                    border-radius: 10px;
                }

                .mapboxgl-ctrl-geocoder input[type='text'] {
                    padding: 16px 0 15px 40px;
                    border-radius: 5px;
                    width: 80%;
                }
            }
        }
    }
    //Page bornes autour de moi
    body#borneAroundMe {
        background: lightgrey;
        padding-top: 20%;
        box-sizing: border-box;
        min-height: 100vh;

        main {
            section.container-search {
                form {
                    text-align: center;

                    input {
                        padding: 16px 0 15px 40px;
                        border-radius: 5px;
                        border: 0;
                        background: url('/hush/src/asset/images/loupe-noir.png')no-repeat;
                        background-position: 5px 11px;
                        background-color: white;
                        background-size: 25px;
                        width: 80%;
                        box-sizing: border-box;
                    }
                }
            }

            section.aroundMe {
                margin-top: 5%;
                position: fixed;
                bottom: 2%;

                h2 {
                    font-size: 30px;
                    padding-left: 15px;
                }

                div.container-type {
                    padding-left: 15px;

                    div.swiper-wrapper {
                        div.type-content {
                            background: #d8d8d8;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: center;
                            height: auto;
                            border-radius: 10px;

                            img {
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                            }

                            div.content-borne {
                                margin-top: 5px;
                                font-size: 13px;
                                width: 100%;
                                padding-left: 10px;
                                box-sizing: border-box;

                                p.title-borne {
                                    font-weight: 600;

                                    &.adress-borne {
                                        font-size: 12px;
                                    }
                                }

                                p:nth-child(3),
                                p:nth-child(4) {
                                    img {
                                        width: 17px;
                                        border-radius: 0;
                                    }
                                }

                                p:last-of-type {
                                    text-align: right;
                                    padding-right: 10px;
                                    font-weight: 600;
                                    color: $blue-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //Page bornes
    body#borne {
        box-sizing: border-box;
        min-height: 100vh;

        main {
            a.BtnReturn {
                z-index: 1;
            }

            #map {
                position: absolute;
                top: 0;
                bottom: 0;
                height: 100%!important;
                border-bottom: 1px solid #bcbcbc;

                .mapboxgl-control-container {
                    display: none!important;
                }

                .mapboxgl-ctrl-top-right {
                    top: 13.3%;
                    right: 16%;
                }

                .mapboxgl-canvas:focus {
                    outline: none !important;
                }
            }

            section {
                z-index: 1;
                position: fixed;
                bottom: 10px;
                padding: 0 5%;
                box-sizing: border-box;

                div.borne-content {
                    background: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    height: auto;
                    z-index: 1;
                    border-radius: 10px;

                    img {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }

                    div.content-borne {
                        margin-top: 5px;
                        font-size: 13px;
                        width: 100%;
                        padding: 0 0 10px 10px;
                        box-sizing: border-box;

                        p.title-borne {
                            font-weight: 900;
                            letter-spacing: 0.5px;

                            &.adress-borne {
                                font-size: 12px;
                            }
                        }

                        p:nth-child(3) {
                            text-align: right;
                            color: $blue-color;
                            font-weight: 600;
                            padding-right: 10px;
                        }

                        p:last-of-type {
                            text-align: center;
                            letter-spacing: 1px;
                            color: $blue-color;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
    //Page bornes cultiver
    body#borneCultiver {
        box-sizing: border-box;
        min-height: 100vh;

        main {
            a.BtnReturn {
                z-index: 1;
            }

            #map {
                position: absolute;
                top: 0;
                bottom: 0;
                height: 100%!important;
                border-bottom: 1px solid #bcbcbc;

                .mapboxgl-control-container {
                    display: none!important;
                }

                .mapboxgl-ctrl-top-right {
                    top: 13.3%;
                    right: 16%;
                }

                .mapboxgl-canvas:focus {
                    outline: none !important;
                }
            }

            section {
                z-index: 1;
                position: fixed;
                bottom: 10px;
                padding: 0 5%;
                box-sizing: border-box;

                div.borne-content {
                    background: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    height: auto;
                    z-index: 1;
                    border-radius: 10px;

                    img {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }

                    div.content-borne {
                        margin-top: 5px;
                        font-size: 13px;
                        width: 100%;
                        padding: 0 0 10px 10px;
                        box-sizing: border-box;

                        p.title-borne {
                            font-weight: 900;
                            letter-spacing: 0.5px;

                            &.adress-borne {
                                font-size: 12px;
                            }
                        }

                        p:nth-child(3) {
                            text-align: right;
                            color: $blue-color;
                            font-weight: 600;
                            padding-right: 10px;
                        }

                        p:last-of-type {
                            text-align: center;
                            letter-spacing: 1px;
                            color: $blue-color;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
    // Page inscription
    body#inscription {
        min-height: 100vh;
        padding-bottom: 58px;

        main {
            padding-top: 100px;

            a.BtnReturn {
                position: absolute;
            }

            section.form-user {
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    div.container-name {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 70%;

                        input {
                            margin: 10% 10px;

                            &:first-of-type {
                                margin-left: 0;
                            }

                            &:last-of-type {
                                margin-bottom: 10%;
                                margin-left: 0;
                            }
                        }
                    }

                    input {
                        border: 0;
                        padding: 20px;
                        border-radius: 10px;
                        margin: 10% 0;
                        width: 70%;
                        background: $other-grey;
                        box-sizing: border-box;

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        &[type=submit] {
                            width: 100%;
                            position: fixed;
                            bottom: 0;
                            left: 0;
                            border-radius: 0;
                            background: $blue-color;
                            color: white;
                            margin: 0;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    // Page Connexion
    body#connexion {
        min-height: 100vh;

        main {
            padding-top: 100px;

            section.form-user {
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    input {
                        border: 0;
                        padding: 20px;
                        border-radius: 5px;
                        margin: 50px 0;
                        width: 60%;

                        &:first-of-type {
                            margin-bottom: 0;
                        }

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        &[type=submit] {
                            width: 100%;
                            position: fixed;
                            bottom: 0;
                            left: 0;
                            border-radius: 0;
                            background: $blue-color;
                            color: white;
                            margin: 0;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    //page carnet
    body#carnet {
        background: $grey-bakground;

        main {
            section.content {
                border-bottom: 1px solid #bcbcbc;
                padding-top: 20%;

                h1 {
                    color: $blue-color;
                    padding-left: 30px;
                    padding-bottom: 20px;
                }

                a.BtnReturn {
                    position: absolute;
                }
            }

            section.publication-container {
                padding: 0 20px 80px;
                box-sizing: border-box;

                article.publication-content {
                    margin-top: 6%;

                    div.top-content {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-start;

                        img {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            border: 1px solid #bcbcbc;
                            margin: 0 10px 0 0;
                        }

                        div.text-content {
                            p.title-content {
                                span {
                                    font-weight: 600;
                                }
                            }

                            p.date {
                                color: $blue-color;
                                font-size: 13px;
                            }
                        }
                    }

                    p.message-content {
                        margin-top: 4%;
                    }
                }
            }
        }
    }
    // page My carnet
    body#Mycarnet {
        background: $grey-bakground;

        main {
            section.content {
                border-bottom: 1px solid #bcbcbc;
                padding-top: 20px;

                h1 {
                    color: $blue-color;
                    padding-left: 30px;
                    padding-bottom: 20px;
                }

                a.BtnReturn {
                    position: absolute;
                }
            }

            section.publication-container {
                padding: 0 20px 80px;
                box-sizing: border-box;

                article.send-in {
                    margin-top: 6%;

                    form {
                        background: white;
                        border-radius: 10px;

                        div.container-input {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            padding: 10px 0 0 10px;

                            textarea {
                                -webkit-appearance: none;
                                border: 0;
                                width: 82%;
                                margin-top: 10px;

                                &:focus {
                                    outline: none;
                                }
                            }

                            img {
                                width: 35px;
                                height: auto;
                                border-radius: 50%;
                                border: 1px solid #bcbcbc;
                                margin-right: 10px;
                            }
                        }

                        div.cont-bottom {
                            text-align: right;

                            img {
                                width: 25px;
                                height: auto;
                                margin: 0 10px 10px 0;
                            }
                        }
                    }
                }

                article.publication-content {
                    margin-top: 6%;

                    div.top-content {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-start;

                        img {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            border: 1px solid #bcbcbc;
                            margin: 0 10px 0 0;
                        }

                        div.text-content {
                            p.title-content {
                                span {
                                    font-weight: 600;
                                }
                            }

                            p.date {
                                color: $blue-color;
                                font-size: 13px;
                            }
                        }
                    }

                    p.message-content {
                        margin-top: 4%;
                    }
                }
            }
        }
    }
    // page profil utilisateur
    body#profilUser {
        background: $grey-bakground;

        main {
            section.content-top {
                background: white;
                // border-bottom: 1px solid #bcbcbc;
                padding: 20px 0;

                a.BtnReturn {
                    position: absolute;
                }

                a.MsgButton {
                    position: absolute;
                    right: 30px;
                    top: 30px;

                    img {
                        height: 26px;
                        width: auto;
                    }
                }

                div.profil-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        color: $blue-color;
                        margin: 3% 0;
                    }

                    p {}
                }
            }

            section.icon-profil {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 20px 0;

                div.icon-content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    img {
                        width: 30px;
                        height: auto;
                    }

                    p {
                        font-size: 20px;
                        margin: 0 10px;
                    }
                }
            }

            section.publication-container {
                padding: 0 20px 80px;
                box-sizing: border-box;

                article.publication-content {
                    margin-top: 6%;
                    background: white;
                    border-radius: 10px;
                    padding: 15px;

                    div.top-content {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-start;

                        img {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            border: 1px solid #bcbcbc;
                            margin: 0 10px 0 0;
                        }

                        div.text-content {
                            p.title-content {
                                span {
                                    font-weight: 600;
                                }
                            }

                            p.date {
                                color: $blue-color;
                                font-size: 13px;
                            }
                        }
                    }

                    p.message-content {
                        margin-top: 4%;
                    }
                }
            }
        }
    }
    // page profil utilisateur
    body#Myprofil {
        background: $grey-bakground;

        main {
            section.content-top {
                background: white;
                // border-bottom: 1px solid #bcbcbc;
                padding: 20px 0;

                a.BtnReturn {
                    position: absolute;
                }

                a.MsgButton {
                    position: absolute;
                    right: 30px;
                    top: 30px;

                    img {
                        height: 26px;
                        width: auto;
                    }
                }

                div.profil-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        color: $blue-color;
                        margin: 3% 0;
                    }

                    p {}
                }
            }

            section.icon-profil {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 20px 0;

                div.icon-content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    img {
                        width: 30px;
                        height: auto;
                    }

                    p {
                        font-size: 20px;
                        margin: 0 10px;
                    }
                }
            }

            section.publication-container {
                padding: 0 20px 80px;
                box-sizing: border-box;

                article.send-in {
                    margin-top: 6%;

                    form {
                        background: white;
                        border-radius: 10px;

                        div.container-input {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            padding: 10px 0 0 10px;

                            textarea {
                                -webkit-appearance: none;
                                border: 0;
                                width: 82%;
                                margin-top: 10px;

                                &:focus {
                                    outline: none;
                                }
                            }

                            img {
                                width: 35px;
                                height: auto;
                                border-radius: 50%;
                                border: 1px solid #bcbcbc;
                                margin-right: 10px;
                            }
                        }

                        div.cont-bottom {
                            text-align: right;

                            img {
                                width: 25px;
                                height: auto;
                                margin: 0 10px 10px 0;
                            }
                        }
                    }
                }

                article.publication-content {
                    margin-top: 6%;
                    background: white;
                    border-radius: 10px;
                    padding: 15px;

                    div.top-content {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-start;

                        img {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            border: 1px solid #bcbcbc;
                            margin: 0 10px 0 0;
                        }

                        div.text-content {
                            p.title-content {
                                span {
                                    font-weight: 600;
                                }
                            }

                            p.date {
                                color: $blue-color;
                                font-size: 13px;
                            }
                        }
                    }

                    p.message-content {
                        margin-top: 4%;
                    }
                }
            }
        }
    }
    //page conversation
    body#conversation {
        background: $grey-bakground;

        main {
            section.content-top {
                background: white;
                // border-bottom: 1px solid #bcbcbc;
                padding: 40px 0;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                min-height: 4.5vh;

                h1 {
                    // padding-left: 30px;
                }

                form {
                    input {
                        border: 0;

                        &[type=submit] {
                            background-image: url("../images/cross-noir.png");
                            width: 10px;
                            height: 10px;
                            background-size: cover;
                            background-color: transparent;
                            transform: rotate(45deg);
                        }

                        &[type=text] {
                            max-width: 130px;
                            padding: 5px 0;
                        }
                    }
                }
            }

            section.conversations {
                article.conversation {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 7%;

                    div.img-container {
                        flex-grow: 1;
                        text-align: center;

                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }

                    div.infos-conversation {
                        flex-grow: 2;
                        padding: 20px 0 20px 20px;
                        box-sizing: border-box;
                        border-bottom: 1px solid $conversation-grey;

                        p {
                            &:first-of-type {
                                font-weight: 600;
                                font-size: 18px;
                            }

                            &:last-of-type {
                                font-weight: lighter;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    //page conversation
    body#message {
        main {
            header {
                border-top: 1px solid #bcbcbc;
            }

            section.content-top {
                // border-bottom: 1px solid #bcbcbc;
                height: 8vh;
                background: $grey-bakground;
                display: flex;
                align-items: center;
                justify-content: center;
                position: fixed;
                width: 100%;

                a.BtnReturn {
                    position: absolute;
                    top: calc(80% - 30px);
                    left: 20px;
                }

                h1 {
                    // padding-left: 30px;
                }
            }

            section.messages {
                padding-top: 8.5vh;
                padding-bottom: 300px;
                position: relative;
                z-index: -1;
                overflow: hidden;
                padding-bottom: 120px;

                article.message {
                    width: 70%;
                    margin: 3% 1% 2%;
                    position: relative;

                    &:nth-child(odd) {
                        float: right;
                        display: flex;
                        align-items: center;

                        img {
                            width: 30px;
                            height: 30px;
                            margin: 5px;
                            order: 1;
                        }

                        p {
                            background: $blue-color;
                            color: white;
                            padding: 10px;
                            border-radius: 15px;
                        }

                        span {
                            position: absolute;
                            bottom: -17px;
                            right: 48px;
                            font-size: 12px;
                        }
                    }

                    &:nth-child(even) {
                        float: left;
                        display: flex;
                        align-items: center;

                        img {
                            width: 30px;
                            height: 30px;
                            margin: 5px;
                        }

                        p {
                            background: #f6f6f6;
                            color: black;
                            padding: 10px;
                            border-radius: 15px;
                        }

                        span {
                            position: absolute;
                            bottom: -17px;
                            left: 48px;
                            font-size: 12px;
                        }
                    }
                }
            }

            section.inputMessage {
                position: fixed;
                bottom: 55px;
                width: 100%;
                padding: 10px 0 10px 10px;
                box-sizing: border-box;
                background: white;

                form {
                    input[type=text] {
                        border: 0;
                        padding: 10px 0 10px 35px;
                        border-radius: 10px;
                        border: 1px solid #ececec;
                        width: 85%;
                        box-sizing: border-box;

                        &:focus {
                            outline: none;
                        }
                    }

                    input[type=submit] {
                        background-image: url("../images/message-blanc.png");
                        background-repeat: no-repeat;
                        background-size: 1em;
                        // padding: 5px;
                        width: 30px;
                        border: 0;
                        background-color: $blue-color;
                        background-position: 8px 8px;
                        height: 30px;
                        border-radius: 50%;
                        vertical-align: middle;
                        margin-left: 1%;
                    }
                }
            }
        }
    }
    //fin media query
}